<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <context:component-scan base-package="com.yyw.yhyc"/>
    <bean class="com.yyw.yhyc.helper.SpringBeanHelper"/>

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <!-- 密钥存放位置，由运维告知 测试 生产环境开启-->
                <value>classpath*:jdbc.properties</value>
            </list>
        </property>
    </bean>

    <!-- mvc 拦截器 -->
    <mvc:interceptors>
        <!-- 登录拦截 -->
        <mvc:interceptor>
            <mvc:mapping path="/*/**" />
            <bean class="com.yhyc.auth.LoginInterceptor" > </bean>
        </mvc:interceptor>

        <!-- 获取用户信息 -->
        <mvc:interceptor>
            <mvc:mapping path="/*/**" />
            <ref bean="getUserInteceptor"/>
        </mvc:interceptor>

        <!-- 配置Token拦截器，防止用户重复提交数据 -->
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="com.yyw.yhyc.order.inteceptor.TokenInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

    <import resource="spring-dataSource.xml"/>
    <import resource="dubbo-consumer.xml"/>
</beans>