<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:p="http://www.springframework.org/schema/p"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<!-- 启用spring mvc 注解 -->
	<context:annotation-config />
	<!-- 设置使用注解的类所在的jar包 -->
	<context:component-scan base-package="com.yyw.yhyc.order.controller"/>

	<bean class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping" />
	<!-- 完成请求和注解POJO的映射 -->
	<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter" />
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" p:prefix="/jsp/" p:suffix=".jsp" />
	<mvc:annotation-driven>
		<mvc:message-converters register-defaults="true">
			<bean class="org.springframework.http.converter.StringHttpMessageConverter">
				<constructor-arg value="UTF-8" />
			</bean>
			<bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
				<property name="objectMapper">
					<bean class="com.github.miemiedev.mybatis.paginator.jackson2.PageListJsonMapper" />
				</property>
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>

	<!-- 配置MultipartResolver 用于文件上传 使用spring的CommosMultipartResolver -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver" p:defaultEncoding="UTF-8">
		<!-- 指定所上传文件的总大小不能超过200000KB。注意maxUploadSize属性的限制不是针对单个文件，而是一次上传所有文件的容量之和 -->
		<property name="maxUploadSize" value="20480000" />
	</bean>

	<!-- 不拦截静态资源 -->
	<mvc:resources location="/static/images/" mapping="/static/images/**"/>
	<mvc:resources location="/static/css/" mapping="/static/css/**"/>
	<mvc:resources location="/static/js/" mapping="/static/js/**"/>

	<!-- 静态资源映射 -->
	<mvc:resources mapping="/static/**" location="/static/"/>

	<!-- mvc 拦截器 -->
	<mvc:interceptors>
		<!-- 登录拦截 -->
		<mvc:interceptor>
			<mvc:mapping path="/*/**" />
			<mvc:exclude-mapping path="/static/**"/>
			<bean class="com.yhyc.auth.LoginInterceptor" > </bean>
		</mvc:interceptor>

		<!-- 获取用户信息 -->
		<mvc:interceptor>
			<mvc:mapping path="/*/**" />
			<mvc:exclude-mapping path="/static/**"/>
			<bean class="com.yyw.yhyc.order.inteceptor.GetUserInteceptor"/>
		</mvc:interceptor>

		<!-- 配置Token拦截器，防止用户重复提交数据 -->
		<mvc:interceptor>
			<mvc:mapping path="/**"/>
			<mvc:exclude-mapping path="/static/**"/>
			<bean class="com.yyw.yhyc.order.inteceptor.TokenInterceptor"/>
		</mvc:interceptor>
	</mvc:interceptors>
</beans>