<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD SQL MAP Config 3.1//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- settings 一定要配置在plugins标签前面，有顺序讲究 -->
	<settings>
		<!-- 配置全局性 cache 的 ( 开 / 关) default:true -->
		<setting name="cacheEnabled" value="false" />

		<!-- 是否使用 懒加载 关联对象  同 hibernate中的延迟加载 一样  default:true  -->
		<setting name="lazyLoadingEnabled" value="false" />

		<!--当对象使用延迟加载时 属性的加载取决于能被引用到的那些延迟属性,否则,按需加载(需要的是时候才去加载)-->
		<setting name="aggressiveLazyLoading" value="true" />
	</settings>
</configuration>
